/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* palette */
:root{
    --primary-color: #0084fd;
    --parymary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-light: #d5d4f4;
}

/* spaces */
:root{
    --padding-y-4: 4em auto;
    --padding-4: 4em; 
}

/* COMMON */
html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

.btn{
    border-radius: 30px;
    padding: 0.5em 1.5em;
    text-align: center;
}

.white-btn{
    background-color: white;
    color: var(--secondary-color);
}

.blue-btn{
    background-color: var(--primary-color);
    color: white;
    margin: 1em auto;
    width: 95%;
}

.violet-btn{
    background-color: var(--secondary-color);
    color: white;
    width: 60%;
    margin: 2rem 0 1rem;
}

.btn a {
    color: inherit;
    text-decoration: none;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .flex-container,
.jumbo .flex-container,
#planning .flex-container,
#testimonials .flex-container,
#features .flex-container,
#about-us .flex-container,
#get-started .flex-container,
footer .flex-container{
    width: 95%;
    padding: 1em;
    margin: 0 auto;
}

/*----- media -----*/
/* desktop */
@media screen and (min-width: 992px){
    header .flex-container,
    .jumbo .flex-container,
    #testimonials .flex-container,
    #features .flex-container,
    #about-us .flex-container
    {
        width: 80%;
        max-width: 1200px;
    }

    #get-started .flex-container{
        width: 30%;
    }
}
/*----- /media -----*/

.card{
    border-radius: 20px;
    padding: 1em;
}

.large-b-radius{
    border-radius: 50px;
}

/* typography */

h1{
    color: var(--secondary-color);
    font-size: 2.5rem;
    padding: 1em 0;
}

h2{
    font-size: 2.8rem;
    padding: 1.5em 0;
}

h3{
    font-size: 2rem;
    padding: 1em 0;
}

p{
    line-height: 2rem;
    font-size: 1.2rem;
}

/*********** HEADER ***********/
header{
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

nav i{
    font-size: 1.5rem;
}

    /* hide-menu */
header .hide-menu{
    list-style-type: none;
    display: none;
    font-weight: 700;
}

.hide-menu li{
    padding: .5em;
}

.hide-menu a{
    text-decoration: none;
    color: inherit;
}
    /* hide-menu */
/*********** /HEADER ***********/

/* MAIN */

/*********** JUMBO ***********/
.jumbo{
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.jumbo .bag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.jumbo .bag .card{
    width: 100%;
    background-color: var(--parymary-color-light);
    text-align: center;
    padding: 2rem 3rem;
    line-height: 2rem;
    font-size: 1.3rem;
}

.jumbo .bag .card i{
    font-size: 6rem;
    color: var(--primary-color);
   
}

.jumbo .bag .card .btn i {
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

.jumbo .bag .card h3{
    color: var(--primary-color);
    font-size: 1.7rem;
   
}

.jumbo .bag .card:first-child{
    text-align: start;
    padding-bottom: 0;
}

.jumbo .bag .card:first-child img{
    position: relative;
    bottom: -10px;
    width: 100%;
}

.jumbo .bag .card:first-child .img-wrapper{
    margin: 0 auto;
    width: 100%;
}

/*----- media -----*/
/* tablet */
@media screen and (min-width: 768px){
    .jumbo .bag .card{
        width: calc(100% / 3 - (1.5rem * 2 / 3));
    }
    
    .jumbo .bag .card:first-child{
        width: calc(100% / 3 * 2 - 1.5rem / 3);
        display: flex;
        flex-direction: column;
    }
    
    .jumbo .bag .card:first-child .text-wrapper{
        width: 100%
    }

    .jumbo .bag .card:first-child img{
        width: 70%;
        position: absolute;
        bottom: 0;
        left: 30%;
    }

    .jumbo .bag .card:first-child .img-wrapper{
        position: relative;
        height: 100%;
        width: 50%;
    }
}
/*----- /media -----*/
/*********** JUMBO ***********/

/*********** PLANNING ***********/
#planning{
    background-color: var(--secondary-color);
}

#planning .flex-container{
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: var(--padding-4);
}

#planning .strategic-planning{
    color: white;
    margin: 4rem auto;
}

#planning .app-development{
    text-align: center;
    background-color: white;
}

#planning .app-development p{
    font-style: italic;
    padding: 0 1em
    1em;
}

.circle-btn{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin: 1em auto 2em;
}

.circle-btn i{
    color: black;
    font-size: 1.5rem;
    vertical-align: middle;
    padding: 1rem;
}
/*----- media -----*/
/* desktop */
@media screen and (min-width: 992px){
    #planning .flex-container{
        width: 60%;
        max-width: 1000px;
        flex-direction: row;
    }
}
/*----- /media -----*/
/*********** /PLANNING ***********/

/*********** TESTIMONIALS ***********/
#testimonials .flex-container{
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: var(--padding-4);
}

#testimonials .bag{
    margin-top: 3em;
}

#testimonials .bag p{
    padding: 0.5em 0 1em;
}

#testimonials .card{
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: 2em;
    color: white;
}

#testimonials .card .text-wrapper .testimonial-name{
    font-size: 1.2rem;
    font-weight: 700;
}

#testimonials .card .text-wrapper p i{
    margin: 0 0.5rem;
    font-size: 2rem;
}

#testimonials .portrait{
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
}

#testimonials .nat{
    background-image: url(../img/testimonial1.jpg);
}

#testimonials .celia{
    background-image: url(../img/testimonial2.jpg);
}

#testimonials .bob{
    background-image: url(../img/testimonial3.jpg);
}

/*----- media -----*/
/* tablet */
@media screen and (min-width: 768px){
    #testimonials .bag .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: start;
    }

    #testimonials .portrait{
        width: 180px;
        height: 180px;
    }

    #testimonials .card .text-wrapper{
        width: 75%;
    }
}
/*----- /media -----*/
/*********** /TESTIMONIALS ***********/

/*********** FEATURES ***********/
#features{
    background-color: var(--secondary-color);
}

#features h2{
    text-align: center;
}

#features .flex-container{
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}

#features .flex-container .bag .card{
    background-color: white;
    color: var(--secondary-color);  
    padding: 2rem;
    margin-bottom: 2rem;
}

#features .number-card{
    font-size: 4rem;
    margin-bottom: 1.8rem;
    font-weight: 700;
}

#features .benefit{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#features .card p{
    color: gray;
}

/*----- media -----*/
/* tablet */
@media screen and (min-width: 768px){

    #features .flex-container .bag{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;
    }

    #features .flex-container .bag .card{
        width: calc(50% - 1rem); 
    }
}

/* desktop */
@media screen and (min-width: 992px){

    #features .flex-container .bag .card{
        width: calc(100% / 3 - 1rem); 
    }
}
/*----- /media -----*/
/*********** FEATURES ***********/

/*********** ABOUT US ***********/
#about-us h1{
    font-size: 3rem;
}

#about-us p{
    line-height: 2.8rem;
    margin-bottom: 3rem;
}

#about-us .portrait{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#about-us .flex-container{
    flex-direction: column;
}

#about-us .portrait.about{
    background-image: url(../img/about.jpg);
    position: relative;
}

#about-us .portrait.about i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    color: var(--secondary-color);
}

#about-us h3{
    color: var(--secondary-color);
    font-size: 2.5rem;
}
/*----- media -----*/
/* tablet */
@media screen and (min-width: 768px){
   
    #about-us .flex-container{
        flex-direction: row;
    }

    #about-us .portrait{
        width: 180px;
        height: 180px;
    }
}
/*----- /media -----*/
/*********** /ABOUT US ***********/

/*********** GET START ***********/
#get-started{
    background-color: var(--secondary-color);
    color: white;
}

#get-started .section-name{
    color: var(--secondary-color-light);
}

#get-started .flex-container,
footer .flex-container{
    flex-direction: column;
    padding-top: var(--padding-4);
    text-align: center;
}

#get-started .free{
    color: #fcc061;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#get-started p{
    color: var(--secondary-color-light);
}

#get-started .white-btn{
    padding: 1rem;
    width: 80%;
    font-size: 1.4rem;
    margin: 2.5rem 0;
}

#get-started .flex-container ul{
    font-size: 0.8rem;
    list-style-type: disc;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--padding-4);
}

#get-started .flex-container ul li{
    padding-right: 1.5em;
}

#get-started ul li a{
    color: white;

}

/*----- media -----*/
/* mobile */
@media screen and (max-width: 767px){
    #get-started h2{
        font-size: 2.5rem;
        padding: 1rem 0;
    }
}
/* tablet */
@media screen and (min-width: 768px){
   
    #get-started .flex-container,
    footer .flex-container{
        width: 70%;
    }
}

/* desktop */
@media screen and (min-width: 992px){
   
    #get-started .flex-container,
    footer .flex-container{
        width: 30%;
    }
}
/*----- /media -----*/
/*********** /GET START ***********/

/* /MAIN */

/* FOOTER */
footer{
    background-color: #333;
    color: white;
    text-align: center;
}

footer a{
    color: var(--secondary-color);
}

footer p{
    margin-bottom: 6rem;
}

footer span{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
/* /FOOTER */