/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* palette */
:root{
    --primary-color: #0084fd;
    --parymary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-light: #d5d4f4;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .flex-container,
.jumbo .flex-container,
#planning .flex-container,
#testimonials .flex-container{
    width: 95%;
    padding: 1em;
    margin: 0 auto;
}

.card{
    border-radius: 10px;
}

.large-b-radius{
    border-radius: 50px;
}

/*********** HEADER ***********/
header{
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}


nav i{
    font-size: 1.5rem;
}

    /* hide-menu */
header .hide-menu{
    list-style-type: none;
    display: none;
    font-weight: 700;
}

.hide-menu li{
    padding: .5em;
}

.hide-menu a{
    text-decoration: none;
    color: inherit;
}
    /* hide-menu */

/*----- media -----*/
/* desktop */
@media screen and (min-width: 992px){
    header .flex-container,
    .jumbo .flex-container,
    #testimonials .flex-container{
        width: 80%;
        max-width: 1200px;
    }
}
/*----- /media -----*/
/*********** /HEADER ***********/


/* MAIN */

/*********** JUMBO ***********/
.jumbo{
    padding-top: 6rem;
}

.jumbo .bag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.jumbo .bag .card{
    width: 100%;
    background-color: var(--parymary-color-light);
}


/*----- media -----*/
/* tablet */
@media screen and (min-width: 768px){
    .jumbo .bag .card{
        width: calc(100% / 3 - (1.5rem * 2 / 3));
    }
    
    .jumbo .bag .card:first-child{
        width: calc(100% / 3 * 2 - 1.5rem / 3);
        display: flex;
    }
    
    .jumbo .bag .card:first-child .text-wrapper{
        width: 50%
    }

    .jumbo .bag .card:first-child img{
        width: 50%;
    }
}
/*----- /media -----*/
/*********** JUMBO ***********/

/*********** PLANNING ***********/
#planning{
    background-color: var(--secondary-color);
}

#planning .flex-container{
    flex-direction: column;
    margin: 0 auto;
}

#planning .strategic-planning{
    color: white;
}

#planning .app-development{
    text-align: center;
    background-color: white;
}
/*----- media -----*/
/* desktop */
@media screen and (min-width: 992px){
    #planning .flex-container{
        width: 60%;
        max-width: 1000px;
        flex-direction: row;
    }
}
/*----- /media -----*/
/*********** /PLANNING ***********/

/*********** TESTIMONIALS ***********/
#testimonials .flex-container{
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

#testimonials .card{
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: 1em;
    padding: 1em;
}


#testimonials .portrait{
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#testimonials .nat{
    background-image: url(../img/testimonial1.jpg);
}

#testimonials .celia{
    background-image: url(../img/testimonial2.jpg);
}

#testimonials .bob{
    background-image: url(../img/testimonial3.jpg);
}
/*----- media -----*/
/* tablet */
@media screen and (min-width: 768px){
    #testimonials .bag .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: start;
    }

    #testimonials .card .text-wrapper{
        width: 75%;
    }

}
/*----- /media -----*/
/*********** /TESTIMONIALS ***********/



/* /MAIN */
